body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container-1 {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    'top'
    'content'
    'down';
    height: 100vh;
}

header {
    background-color: aqua;
    grid-area: top;
}

.content {
    background-color: aquamarine;
    grid-area: content;
}

footer {
    background-color: blue;
    grid-area: down;
}

/* basic styling */

.p-1 {
    padding: 30px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 10px;
}